/* variables declared here - these are the colors for our pages, as well as the font stacks and sizes. */
:root {
    --dawnpink: #F2E8DF;
    --ltcoral: #F28585;
    --apricot: #F2B263;
    --cascade: #86A69D;
    --tearose: #F2C6C2;
    --tronblue: #86fbfb;
    --whitelilac: #f7f8fa;
    --font-size: 1.3rem;
    --mono: "Lato", monospace;
    --sans: "Playfair Display", serif;
}
/* border box model: https://css-tricks.com/box-sizing/ */
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body{
    padding: 0;
    margin: 0;
    font-family: var(--sans);
}